@charset "UTF-8";
 
 /* 초기화시작 */

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
	color: #3b3b3b;

}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

body {
    font-family: 'nanumsquare';
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.wrap:after,
ul:after,
.cl:after,
a:after {
    content: "";
    clear: both;
    display: block;
}

.blind {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}


/* 초기화끝 */
/* 헤더시작 */
header {
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid silver;
    box-shadow: 0 1px 2px lightgray;
    margin: 0 auto;
    font-size: 15px;
}

header h1 {
    padding: 25px 0;
}


header #gnb {
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 20px;
}
header #gnb li {
    float: left;
    margin-right: 20px;
}

header #gnb li:last-child {
    margin-right: 0;
}
/* 헤더끝 */
  
 .container{
 	margin-top: 200px;
 }

 
 @font-face {
     font-family: 'NanumSquare';
     font-weight: 400;
     src: url(NanumSquareR.eot);
     src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'), url(NanumSquareR.woff) format('woff'), url(NanumSquareR.ttf) format('truetype');
 }
 
 @font-face {
     font-family: 'NanumSquare';
     font-weight: 700;
     src: url(NanumSquareB.eot);
     src: url(NanumSquareB.eot?#iefix) format('embedded-opentype'), url(NanumSquareB.woff) format('woff'), url(NanumSquareB.ttf) format('truetype');
 }
 
 @font-face {
     font-family: 'NanumSquare';
     font-weight: 800;
     src: url(NanumSquareEB.eot);
     src: url(NanumSquareEB.eot?#iefix) format('embedded-opentype'), url(NanumSquareEB.woff) format('woff'), url(NanumSquareEB.ttf) format('truetype');
 }
 
 @font-face {
     font-family: 'NanumSquare';
     font-weight: 300;
     src: url(NanumSquareL.eot);
     src: url(NanumSquareL.eot?#iefix) format('embedded-opentype'), url(NanumSquareL.woff) format('woff'), url(NanumSquareL.ttf) format('truetype');
 }
 
 ul,li {
     list-style-type: none;
 }
 
 a {
     text-decoration: none;
     color: black;
 }
 
 a:hover {
     cursor: pointer;
 }
 
 .row {
     display: flex;
     margin: 30px 10px;
 }
 
 .col-4 {
     width: 20%;
     height: 600px;
     margin: 30px;
     padding: 30px 10px;
 }
 
 .menu_nav {
     padding: 0 0 30px 0;
 }
 
 .menu_title {
     padding: 5px;
     font-size:30px;
 }
 
 .menu_nav li {
     padding: 5px;
 }
 
 .col-6 {
     width: 70%;
 }
 
 .ing_title {
     padding-bottom: 10px;
 }
 
 .ing_menu ul {
     display: flex;
     padding: 10px;
 }
 
 .ing_menu li {
     padding-right: 25px;
 }
 
 .empty_box {
     width: 100%;
 }
 
 .empty_img {
    margin: 20px 0 0 200px;
    width: 50%;
    height: 50%;
 }
 
 .empty_comment {
     width: 100%;
     margin: 0 0 0 140px;
 }
 .myInfo{
    width: 100%;
    padding: 0 80px;
 }
 .myInfo input{
    width:300px;
    padding:10px;
    margin:5px;
 }
 #updatePw_btn{
    background-color: lightgreen;
    border: none;
    color: white;
 }
 

        
/* footer시작 */

.footer {
    padding: 80px 0 32px;
}

.footer_link {
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.footer_item {
    margin: 0 10px;
}

.footer_copy {
    width: 553px;
    margin: 10px auto 0;
    text-align: center;
}

.footer_logo {
    display: inline-block;
    /* 보여줄 이미지 크기 */
    width: 70px;
    height: 15px;
    background-image: url(../images/projectlogo.png);
    background-size: 245px 95px;
    /* 본 이미지 크기 */
    background-position: 0 -51px;
}

.footer_copy>.text {
    color: #888;
    font-weight: 800;
}

.footer_copy img {
    margin-bottom: 10px;
}


/* 끝 */

.paging{
    display: flex;
    width: 100%;
    color: #dc3545;
    padding: 30px;
    justify-content: center;
    font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}
 .paging a{
	font-size: 20px;
	padding-right: 5px;
    padding-left: 5px;
	font-weight: 700;
	cursor: pointer;
	
} 
.fas{
	font-size: 20px;
	color:  #dc3545;
	padding-right: 5px;
	padding-left: 5px;
	
}
.fas:hover{
	color: rgba(160, 57, 38, 0.795);
	cursor: pointer;
}
.fa-lg{
	color: gray;
	
}
.fa-lg:hover{
	color: rgba(160, 57, 38, 0.795);
	cursor: pointer;
}



